<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="COL_">
            <entry key="NRATTR" type="xint" value="16"/>
            <entry key="FAILONMISSINGCOLS" type="xboolean" value="false"/>
            <config key="Attribute_0">
                <entry key="NAME" type="xstring" value="CustomerKey"/>
                <entry key="VALIDMIN" type="xdouble" value="11000.0"/>
                <entry key="VALIDMAX" type="xdouble" value="27336.0"/>
                <entry key="MIN" type="xdouble" value="11000.0"/>
                <entry key="MAX" type="xdouble" value="27336.0"/>
                <entry key="BACKGROUND" type="xstring" value="175.220.240"/>
                <entry key="INTERVAL" type="xstring" value="105.150.170"/>
                <entry key="BEND" type="xstring" value="0.255.0"/>
                <entry key="OUTLYINGBEND" type="xstring" value="255.0.0"/>
                <entry key="SELECTED" type="xboolean" value="true"/>
                <entry key="ISDOUBLE" type="xboolean" value="true"/>
            </config>
            <config key="Attribute_1">
                <entry key="NAME" type="xstring" value="WebActivity"/>
                <entry key="VALIDMIN" type="xdouble" value="0.0"/>
                <entry key="VALIDMAX" type="xdouble" value="5.0"/>
                <entry key="MIN" type="xdouble" value="0.0"/>
                <entry key="MAX" type="xdouble" value="5.0"/>
                <entry key="BACKGROUND" type="xstring" value="175.220.240"/>
                <entry key="INTERVAL" type="xstring" value="105.150.170"/>
                <entry key="BEND" type="xstring" value="0.255.0"/>
                <entry key="OUTLYINGBEND" type="xstring" value="255.0.0"/>
                <entry key="SELECTED" type="xboolean" value="true"/>
                <entry key="ISDOUBLE" type="xboolean" value="true"/>
            </config>
            <config key="Attribute_2">
                <entry key="NAME" type="xstring" value="Sentiment Analysis"/>
                <entry key="VALIDMIN" type="xdouble" value="0.0"/>
                <entry key="VALIDMAX" type="xdouble" value="0.0"/>
                <entry key="MIN" type="xdouble" value="0.0"/>
                <entry key="MAX" type="xdouble" value="0.0"/>
                <entry key="BACKGROUND" type="xstring" isnull="true" value=""/>
                <entry key="INTERVAL" type="xstring" isnull="true" value=""/>
                <entry key="BEND" type="xstring" isnull="true" value=""/>
                <entry key="OUTLYINGBEND" type="xstring" isnull="true" value=""/>
                <entry key="SELECTED" type="xboolean" value="false"/>
                <entry key="ISDOUBLE" type="xboolean" value="false"/>
            </config>
            <config key="Attribute_3">
                <entry key="NAME" type="xstring" value="SentimentRating"/>
                <entry key="VALIDMIN" type="xdouble" value="0.0"/>
                <entry key="VALIDMAX" type="xdouble" value="5.0"/>
                <entry key="MIN" type="xdouble" value="0.0"/>
                <entry key="MAX" type="xdouble" value="5.0"/>
                <entry key="BACKGROUND" type="xstring" value="175.220.240"/>
                <entry key="INTERVAL" type="xstring" value="105.150.170"/>
                <entry key="BEND" type="xstring" value="0.255.0"/>
                <entry key="OUTLYINGBEND" type="xstring" value="255.0.0"/>
                <entry key="SELECTED" type="xboolean" value="true"/>
                <entry key="ISDOUBLE" type="xboolean" value="true"/>
            </config>
            <config key="Attribute_4">
                <entry key="NAME" type="xstring" value="MaritalStatus"/>
                <entry key="VALIDMIN" type="xdouble" value="0.0"/>
                <entry key="VALIDMAX" type="xdouble" value="0.0"/>
                <entry key="MIN" type="xdouble" value="0.0"/>
                <entry key="MAX" type="xdouble" value="0.0"/>
                <entry key="BACKGROUND" type="xstring" isnull="true" value=""/>
                <entry key="INTERVAL" type="xstring" isnull="true" value=""/>
                <entry key="BEND" type="xstring" isnull="true" value=""/>
                <entry key="OUTLYINGBEND" type="xstring" isnull="true" value=""/>
                <entry key="SELECTED" type="xboolean" value="false"/>
                <entry key="ISDOUBLE" type="xboolean" value="false"/>
            </config>
            <config key="Attribute_5">
                <entry key="NAME" type="xstring" value="Gender"/>
                <entry key="VALIDMIN" type="xdouble" value="0.0"/>
                <entry key="VALIDMAX" type="xdouble" value="0.0"/>
                <entry key="MIN" type="xdouble" value="0.0"/>
                <entry key="MAX" type="xdouble" value="0.0"/>
                <entry key="BACKGROUND" type="xstring" isnull="true" value=""/>
                <entry key="INTERVAL" type="xstring" isnull="true" value=""/>
                <entry key="BEND" type="xstring" isnull="true" value=""/>
                <entry key="OUTLYINGBEND" type="xstring" isnull="true" value=""/>
                <entry key="SELECTED" type="xboolean" value="false"/>
                <entry key="ISDOUBLE" type="xboolean" value="false"/>
            </config>
            <config key="Attribute_6">
                <entry key="NAME" type="xstring" value="EstimatedYearlyIncome"/>
                <entry key="VALIDMIN" type="xdouble" value="10000.0"/>
                <entry key="VALIDMAX" type="xdouble" value="170000.0"/>
                <entry key="MIN" type="xdouble" value="10000.0"/>
                <entry key="MAX" type="xdouble" value="170000.0"/>
                <entry key="BACKGROUND" type="xstring" value="175.220.240"/>
                <entry key="INTERVAL" type="xstring" value="105.150.170"/>
                <entry key="BEND" type="xstring" value="0.255.0"/>
                <entry key="OUTLYINGBEND" type="xstring" value="255.0.0"/>
                <entry key="SELECTED" type="xboolean" value="true"/>
                <entry key="ISDOUBLE" type="xboolean" value="true"/>
            </config>
            <config key="Attribute_7">
                <entry key="NAME" type="xstring" value="NumberOfContracts"/>
                <entry key="VALIDMIN" type="xdouble" value="0.0"/>
                <entry key="VALIDMAX" type="xdouble" value="4.0"/>
                <entry key="MIN" type="xdouble" value="0.0"/>
                <entry key="MAX" type="xdouble" value="4.0"/>
                <entry key="BACKGROUND" type="xstring" value="175.220.240"/>
                <entry key="INTERVAL" type="xstring" value="105.150.170"/>
                <entry key="BEND" type="xstring" value="0.255.0"/>
                <entry key="OUTLYINGBEND" type="xstring" value="255.0.0"/>
                <entry key="SELECTED" type="xboolean" value="true"/>
                <entry key="ISDOUBLE" type="xboolean" value="true"/>
            </config>
            <config key="Attribute_8">
                <entry key="NAME" type="xstring" value="Age"/>
                <entry key="VALIDMIN" type="xdouble" value="29.0"/>
                <entry key="VALIDMAX" type="xdouble" value="100.0"/>
                <entry key="MIN" type="xdouble" value="29.0"/>
                <entry key="MAX" type="xdouble" value="100.0"/>
                <entry key="BACKGROUND" type="xstring" value="175.220.240"/>
                <entry key="INTERVAL" type="xstring" value="105.150.170"/>
                <entry key="BEND" type="xstring" value="0.255.0"/>
                <entry key="OUTLYINGBEND" type="xstring" value="255.0.0"/>
                <entry key="SELECTED" type="xboolean" value="true"/>
                <entry key="ISDOUBLE" type="xboolean" value="true"/>
            </config>
            <config key="Attribute_9">
                <entry key="NAME" type="xstring" value="Target"/>
                <entry key="VALIDMIN" type="xdouble" value="0.0"/>
                <entry key="VALIDMAX" type="xdouble" value="1.0"/>
                <entry key="MIN" type="xdouble" value="0.0"/>
                <entry key="MAX" type="xdouble" value="1.0"/>
                <entry key="BACKGROUND" type="xstring" value="175.220.240"/>
                <entry key="INTERVAL" type="xstring" value="105.150.170"/>
                <entry key="BEND" type="xstring" value="0.255.0"/>
                <entry key="OUTLYINGBEND" type="xstring" value="255.0.0"/>
                <entry key="SELECTED" type="xboolean" value="true"/>
                <entry key="ISDOUBLE" type="xboolean" value="true"/>
            </config>
            <config key="Attribute_10">
                <entry key="NAME" type="xstring" value="Available401K"/>
                <entry key="VALIDMIN" type="xdouble" value="0.0"/>
                <entry key="VALIDMAX" type="xdouble" value="1.0"/>
                <entry key="MIN" type="xdouble" value="0.0"/>
                <entry key="MAX" type="xdouble" value="1.0"/>
                <entry key="BACKGROUND" type="xstring" value="175.220.240"/>
                <entry key="INTERVAL" type="xstring" value="105.150.170"/>
                <entry key="BEND" type="xstring" value="0.255.0"/>
                <entry key="OUTLYINGBEND" type="xstring" value="255.0.0"/>
                <entry key="SELECTED" type="xboolean" value="true"/>
                <entry key="ISDOUBLE" type="xboolean" value="true"/>
            </config>
            <config key="Attribute_11">
                <entry key="NAME" type="xstring" value="CustomerValueSegment"/>
                <entry key="VALIDMIN" type="xdouble" value="1.0"/>
                <entry key="VALIDMAX" type="xdouble" value="3.0"/>
                <entry key="MIN" type="xdouble" value="1.0"/>
                <entry key="MAX" type="xdouble" value="3.0"/>
                <entry key="BACKGROUND" type="xstring" value="175.220.240"/>
                <entry key="INTERVAL" type="xstring" value="105.150.170"/>
                <entry key="BEND" type="xstring" value="0.255.0"/>
                <entry key="OUTLYINGBEND" type="xstring" value="255.0.0"/>
                <entry key="SELECTED" type="xboolean" value="true"/>
                <entry key="ISDOUBLE" type="xboolean" value="true"/>
            </config>
            <config key="Attribute_12">
                <entry key="NAME" type="xstring" value="ChurnScore"/>
                <entry key="VALIDMIN" type="xdouble" value="0.0"/>
                <entry key="VALIDMAX" type="xdouble" value="1.0"/>
                <entry key="MIN" type="xdouble" value="0.0"/>
                <entry key="MAX" type="xdouble" value="1.0"/>
                <entry key="BACKGROUND" type="xstring" value="175.220.240"/>
                <entry key="INTERVAL" type="xstring" value="105.150.170"/>
                <entry key="BEND" type="xstring" value="0.255.0"/>
                <entry key="OUTLYINGBEND" type="xstring" value="255.0.0"/>
                <entry key="SELECTED" type="xboolean" value="true"/>
                <entry key="ISDOUBLE" type="xboolean" value="true"/>
            </config>
            <config key="Attribute_13">
                <entry key="NAME" type="xstring" value="CallActivity"/>
                <entry key="VALIDMIN" type="xdouble" value="1.0"/>
                <entry key="VALIDMAX" type="xdouble" value="5.0"/>
                <entry key="MIN" type="xdouble" value="1.0"/>
                <entry key="MAX" type="xdouble" value="5.0"/>
                <entry key="BACKGROUND" type="xstring" value="175.220.240"/>
                <entry key="INTERVAL" type="xstring" value="105.150.170"/>
                <entry key="BEND" type="xstring" value="0.255.0"/>
                <entry key="OUTLYINGBEND" type="xstring" value="255.0.0"/>
                <entry key="SELECTED" type="xboolean" value="true"/>
                <entry key="ISDOUBLE" type="xboolean" value="true"/>
            </config>
            <config key="Attribute_14">
                <entry key="NAME" type="xstring" value="Products"/>
                <entry key="VALIDMIN" type="xdouble" value="0.0"/>
                <entry key="VALIDMAX" type="xdouble" value="0.0"/>
                <entry key="MIN" type="xdouble" value="0.0"/>
                <entry key="MAX" type="xdouble" value="0.0"/>
                <entry key="BACKGROUND" type="xstring" isnull="true" value=""/>
                <entry key="INTERVAL" type="xstring" isnull="true" value=""/>
                <entry key="BEND" type="xstring" isnull="true" value=""/>
                <entry key="OUTLYINGBEND" type="xstring" isnull="true" value=""/>
                <entry key="SELECTED" type="xboolean" value="false"/>
                <entry key="ISDOUBLE" type="xboolean" value="false"/>
            </config>
            <config key="Attribute_15">
                <entry key="NAME" type="xstring" value="birthday"/>
                <entry key="VALIDMIN" type="xdouble" value="0.0"/>
                <entry key="VALIDMAX" type="xdouble" value="0.0"/>
                <entry key="MIN" type="xdouble" value="0.0"/>
                <entry key="MAX" type="xdouble" value="0.0"/>
                <entry key="BACKGROUND" type="xstring" isnull="true" value=""/>
                <entry key="INTERVAL" type="xstring" isnull="true" value=""/>
                <entry key="BEND" type="xstring" isnull="true" value=""/>
                <entry key="OUTLYINGBEND" type="xstring" isnull="true" value=""/>
                <entry key="SELECTED" type="xboolean" value="false"/>
                <entry key="ISDOUBLE" type="xboolean" value="false"/>
            </config>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.ext.svg.node.radarplot.RadarplotAppenderFactory"/>
    <entry key="node-name" type="xstring" value="Radar Plot Appender"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME SVG Support"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.ext.svg"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.5.0.v202107011904"/>
    <entry key="node-feature-name" type="xstring" value="KNIME SVG Support"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.ext.svg.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.5.0.v202107011904"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Radar Plot Appender"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 15167, Cols: 17"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="1cad4a25-8554-4c1c-8adc-56a5603ca81d"/>
    </config>
</config>
