<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="include-list_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_columnfilter"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="include-list">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="44"/>
                <entry key="0" type="xstring" value="CustomerKey"/>
                <entry key="1" type="xstring" value="Count (CustomerKey)"/>
                <entry key="2" type="xstring" value="Relative Frequency (CustomerKey)"/>
                <entry key="3" type="xstring" value="WebActivity"/>
                <entry key="4" type="xstring" value="Count (WebActivity)"/>
                <entry key="5" type="xstring" value="Relative Frequency (WebActivity)"/>
                <entry key="6" type="xstring" value="Sentiment Analysis"/>
                <entry key="7" type="xstring" value="Count (Sentiment Analysis)"/>
                <entry key="8" type="xstring" value="Relative Frequency (Sentiment Analysis)"/>
                <entry key="9" type="xstring" value="SentimentRating"/>
                <entry key="10" type="xstring" value="Count (SentimentRating)"/>
                <entry key="11" type="xstring" value="Relative Frequency (SentimentRating)"/>
                <entry key="12" type="xstring" value="MaritalStatus"/>
                <entry key="13" type="xstring" value="Count (MaritalStatus)"/>
                <entry key="14" type="xstring" value="Relative Frequency (MaritalStatus)"/>
                <entry key="15" type="xstring" value="Gender"/>
                <entry key="16" type="xstring" value="Count (Gender)"/>
                <entry key="17" type="xstring" value="Relative Frequency (Gender)"/>
                <entry key="18" type="xstring" value="EstimatedYearlyIncome"/>
                <entry key="19" type="xstring" value="Count (EstimatedYearlyIncome)"/>
                <entry key="20" type="xstring" value="Relative Frequency (EstimatedYearlyIncome)"/>
                <entry key="21" type="xstring" value="NumberOfContracts"/>
                <entry key="22" type="xstring" value="Count (NumberOfContracts)"/>
                <entry key="23" type="xstring" value="Relative Frequency (NumberOfContracts)"/>
                <entry key="24" type="xstring" value="Age"/>
                <entry key="25" type="xstring" value="Count (Age)"/>
                <entry key="26" type="xstring" value="Relative Frequency (Age)"/>
                <entry key="27" type="xstring" value="Target"/>
                <entry key="28" type="xstring" value="Count (Target)"/>
                <entry key="29" type="xstring" value="Relative Frequency (Target)"/>
                <entry key="30" type="xstring" value="Available401K"/>
                <entry key="31" type="xstring" value="Count (Available401K)"/>
                <entry key="32" type="xstring" value="Relative Frequency (Available401K)"/>
                <entry key="33" type="xstring" value="CustomerValueSegment"/>
                <entry key="34" type="xstring" value="Count (CustomerValueSegment)"/>
                <entry key="35" type="xstring" value="Relative Frequency (CustomerValueSegment)"/>
                <entry key="36" type="xstring" value="CallActivity"/>
                <entry key="37" type="xstring" value="Count (CallActivity)"/>
                <entry key="38" type="xstring" value="Relative Frequency (CallActivity)"/>
                <entry key="39" type="xstring" value="Products"/>
                <entry key="40" type="xstring" value="Count (Products)"/>
                <entry key="41" type="xstring" value="Relative Frequency (Products)"/>
                <entry key="42" type="xstring" value="Count (birthday)"/>
                <entry key="43" type="xstring" value="Relative Frequency (birthday)"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
        <config key="columnPairsFilter_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="columnPairsFilter" type="xstring" value="COMPATIBLE_PAIRS"/>
        <config key="possibleValuesCount_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="possibleValuesCount" type="xint" value="50"/>
        <config key="pvalAlternative_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="pvalAlternative" type="xstring" value="TWO_SIDED"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="CONFIGURED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.correlation.compute2.CorrelationCompute2NodeFactory"/>
    <entry key="node-name" type="xstring" value="Linear Correlation"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.5.1.v202201171147"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.5.1.v202201171200"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Linear Correlation"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
        <config key="port_3">
            <entry key="index" type="xint" value="3"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
